In [2]:
import pandas as pd
print(pd.__version__)

1.3.4

In [4]:
l=[1,2,3,4,5,6,7,8,9]
x=pd.Series(l)
print(x)
print(type(x))

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64
<class 'pandas.core.series.Series'>

In [5]:
#acces varibles in series
print(x[0])
print(x[5])
print(x[6])

1
6
7

In [11]:
#edit index
y=pd.Series(l, index = ["a","b","c","d","e","f","g","h","i"])
z=pd.Series(x, index = ["a","b","c","d","e","f","g","h","i"])
print(y)
print(z)

a    1
b    2
c    3
d    4
e    5
f    6
g    7
h    8
i    9
dtype: int64
a   NaN
b   NaN
c   NaN
d   NaN
e   NaN
f   NaN
g   NaN
h   NaN
i   NaN
dtype: float64

In [12]:
import pandas as pd

calories = {"day1": 420, "day2": 380, "day3": 390}

var1 = pd.Series(calories)

print(var1)

day1    420
day2    380
day3    390
dtype: int64

In [14]:
#creating new series from previous series data
new_ser=pd.Series(var1,index=("day1","day3"))
print(new_ser)

day1    420
day3    390
dtype: int64